#main {
  width: 100%;
  margin: 0 0 7vh;
}

.menu {
  background-color: #98FFC8;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.itemBox {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
  align-items: center;
  font-size: 2vmin;
  padding: 2vmin;
  margin: 2vmin;
  background-color: #76DDA6;
  box-shadow: 0 0 10px #218841;
}

.itemPrice {
  font-size: 3vmin;
}

.breakfast {
  order: 1
}

.lunch {
  order: 3
}

.dinner {
  order: 5
}

.mealText {
  font-size: 5vmin;
  margin: 5vmin;
}

