

.navbar {
  background-color: #4A4;
}

.nav-option {
  list-style-type: none;
  color: white;
  display: inline-block;
  margin: 5vmin;
  font-size: 5vmin;
  transition: color 1s;
  user-select: none;
}

.nav-list {
  text-align: center;
   box-shadow: 0 10px 35px grey;
}

.center {
  width: 100% ;
}



.nav-option:hover {
  color: #ddbcd8;
  cursor: pointer;
}

